.sec1 img{
    height: 665px;
}
.News .h1{
    text-align: center;
    align-items: center;
}
.sec38{
    display: flex;
  margin-top: 50px;
}

.sfdv img{
    width: 800px;
    margin-right: 40px;
}

span{
    color: rgb(109, 173, 44);
}


h6{
    color: gray;
    margin-top: 20px;
}
.klo {
   position: relative;
   bottom: 400px;
   right: 50px;
   background-color: rgb(12, 131, 12);
   color: white;
   width: 120px;
   padding: 5px 5px;
   border-radius: 15px;
   text-align: center;
   align-items: center;
}

.vvv{
    display: flex;


}
.tyu h4{
    background-color: #ff0054;
    width: 245px;
    text-align: center;
    align-items: center;
    color: white;
    position: relative;
    left: 10px;
    bottom: 100px;
}
.tyu h5{
    background-color:#adc867;
    width: 245px;
    text-align: center;
    align-items: center;
    color: white;
    position: relative;
   
    bottom: 70px;
}
.tyu h3{
    background-color: #adc867;
    color: white;
    width: 264px;
    text-align: center;
    align-items: center;
    padding: 10px 10px;
    position: relative;
    top: 10px;
}
.tyu{
    margin-top: 20px;
}
.vvv h3{
    background-color: gainsboro;
    margin-left: 10px;
    width: 170px;
    font-size: 20px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    align-items: center;
    text-decoration: none;
    color: black;
}
h2{
    margin-bottom: 20px;
}
.sec38 input{
  border: none;
  width: 200px;
  height: 40px;
  background-color: rgb(159, 176, 231);
  outline: none;
}

.sec38 .iop{
    position: relative;
    right: 35px;
    font-size: 25px;
}

.nav-link::selection{
    background-color: #adc867;
    color: white;
}

  .nav-link {
    display: block;
    color: #000;
    padding: 8px 15px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  .nav-link:hover {
    background-color:#adc867;
    color: white;
  }

  .hh{
    position: fixed;
    z-index: 2;
  }